In [1]:
mylist=[14, "hello", 967]
mylist[1]
#the code was not working because there is only 3 elements in the list and 6 is out the range

'hello'

In [5]:
import pandas
import numpy
#it didnt work because the "p" of pandas was major caracter and the "n" and "p" of numpy too

In [7]:
print("python errors")
#it didnt work because there is no "()" and the "p" was major caracter

python errors

In [11]:
mydictionnary={True:"hello",False:"bye", '3':"python"}
mydictionnary[True]
#it didnt work because there was "''"

'hello'

In [13]:
i=14
while i<78:
    print(i)
    i+=1
#it didnt work be cause there was no identication before the 3rd and 4th line

14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

In [15]:
it=iter([1,2,3])
next(it)
next(it)
next(it)
#it didnt work because it were an extra "next(it)"

3

In [17]:
15+15
#it didnt work because we cant do the sum of an int and a str

30

In [18]:
str('python')
#it didnt work because its a str not an int

'python'

In [20]:
python=0
python
#python was not defined thats why it didnt work

0

In [24]:
x=19/2
x
#it didnt work because we cant / a zero

9.5